body {
	background-color: rgb(92,184,50);
}

h1 {
	font-size: 40px;
	margin-bottom: 50px;
	text-align: center;
}

.content {
	display: block;
	background-color: rgb(123,255,61);
	width: 800px;
	height: 610px;
	padding: 30px 200px;
	margin: auto;
}

.sidebar {
	width: 150px;
	height: 590px;
	float: left;
	text-align: center;
	padding: 10px;
	margin-left: 5px;
}

.settings, .stats {
	width: 150px;
	margin-bottom: 180px;
	text-align: center;
}

label {
	display: inline-block;
	width: 50px;
	text-align: right;
}
input {
	margin: 5px 0;
	width: 50px;
	text-align: center;
}

#shuffle {
	padding: 5px;
	font-size: 20px;
	border: solid 6px rgb(92,184,50);
	border-radius: 10px;
	background-color: rgb(123,255,61);
	text-align: center;
	cursor: pointer;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}
#shuffle:hover {
	background-color: rgb(95,194,48);
}

.box {
	position: relative;
	float: left;
 	width: 450px;
	height: 450px;
	padding: 80px;
	margin: auto;
	background-color: white;
}

.block {
	display: block;
	position: absolute;
	box-sizing: border-box;
	width: 25%;
	height: 25%;
	padding: 1%;
	text-align: center;
	background-color: yellow;
	cursor: pointer;
	-webkit-transition: left 0.5s, top 0.5s;
	transition: left 0.5s, top 0.5s;
	overflow: hidden;
}

.block span {
	width: 400%;
	height: 400%;
	display: block;
	background: url(src/Ali.JPG);
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
}

.block h2 {
	position: relative;
	font-size: 48px;
	color: rgba(0,0,255,0.4);
	z-index: 200;
}

.footer {
	clear: both;
	height: 50px;
}