body {
	background-color: rgb(127,222,122);
}

h1 {
	font-size: 40px;
	text-align: center;
}

.content {
	text-align: center;
}


.settings {
	width: 300px;
	display: block;
	position: absolute;
	top: 100px;
	right: 20px;
}

label {
	display: inline-block;
	width: 50px;
	text-align: right;
}
input {
	margin: 5px 0;
	width: 50px;
	text-align: center;
}

.settings > div {

}

.box {
	position: relative;
	width: 50%;
	height: 60vh;
	padding: 80px;
	margin: auto;
	background-color: white;
}

.block {
	display: block;
	position: absolute;
	box-sizing: border-box;
	width: 25%;
	height: 25%;
	padding: 20px;
	text-align: center;
	background-color: yellow;
	background-size: 100%;
	cursor: pointer;
	-webkit-transition: left 0.5s, top 0.5s;
	transition: left 0.5s, top 0.5s;
	overflow: hidden;
}

.block span {
	width: 400%;
	height: 400%;
	display: block;
	background: url(src/Ali.jpg);
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
}

.block h2 {
	position: relative;
	font-size: 32px;
	color: rgba(0,0,255,0.4);
	z-index: 200;
}

#shuffle {
	display: block;
	margin: 10px auto;
	padding: 5px;
	font-size: 20px;
}